@model IEnumerable<MusicWeb.Models.Song>
@{
    ViewBag.Title = "Discover";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}


<link href="~/Content/Discover.css" rel="stylesheet" />
<section class="list-top-20">
    <h2><b>TOP bản nhạc được nghe nhiều nhất</b></h2>
    <style>
        h2 {
            text-align: center;
            padding: 10px;
            background: linear-gradient(to right, #ffcc00, #ff6699);
        }
    </style>
    @foreach (var item in Model)
    {
        <div class="song-on-the-first" onclick="changeAudioSource('@Html.Raw(item.Audio_Song)','@Html.Raw(item.Name_Song)','@Html.Raw(item.Name_singer)','@Html.Raw(item.ImageSong)',@Html.Raw(item.ID_Song))">
            <div class="list-item">
                <div class="media-of-song">
                    <div class="media-left-is-name-thumb">
                        <div class="song-prefix">
                            <span class="number-top-one">1</span>
                            @*<div class="dau-gach"><svg fill="gray" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" /></svg></div>*@
                        </div>
                        <div class="thumbnail-img">
                            <img alt="#" src="@item.ImageSong" />
                            <svg class="hover-play-btn" fill="white" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" /></svg>
                        </div>
                        <div class="info-form">
                            <div class="song-name">
                                <span><b>@item.Name_Song</b></span>
                            </div>
                            <p>
                                <a style="text-decoration:none;color:black;" href="#">@item.Name_singer</a>
                            </p>
                        </div>
                    </div>
                    <div class="media-content">
                        <div class="name-album">
                            <a style="text-decoration:none;" onclick="changeAudioSource('@Html.Raw(item.Audio_Song)','@Html.Raw(item.Name_Song)','@Html.Raw(item.Name_singer)','@Html.Raw(item.ImageSong)',@Html.Raw(item.ID_Song))" href="#">@item.Name_Song</a>
                            <p class="number-click">Lượt xem: @item.View_Song </p>
                        </div>
                    </div>
                    <div class="media-right-action">
                        <div class="action-item">
                            <div class="action-level">
                                <div class="level">
                                    @if (item.IsLiked == false)
                                    {
                                        <button title="Thêm vào yêu thích" onclick="toggleLike(this,@item.ID_Song,@Session["ID"])" id="btnmusic" class="btn-like-music"> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" fill="white"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" /></svg></button>
                                    }
                                    else
                                    {
                                        <button title="Thêm vào yêu thích" onclick="toggleLike(this,@item.ID_Song,@Session["ID"])" id="btnmusic" class="btn-like-music liked"> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" fill="white"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z" /></svg></button>
                                    }
                                    <div class="item-ver">
                                        <figure type="button" class="more-song"><svg fill="red" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z" /></svg></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var songItems = document.querySelectorAll(".media-of-song");

                        songItems.forEach(function (item, index) {
                            var numberTopOne = item.querySelector(".number-top-one");
                            numberTopOne.innerText = index + 1;
                        });
                    });
                    /*Sắp xếp thứ hạng theo màu sắc*/
                    document.addEventListener("DOMContentLoaded", function () {
                        var songItems = document.querySelectorAll(".song-on-the-first");


                        songItems.forEach(function (item, index) {
                            var numberTopOne = item.querySelector(".number-top-one");
                            switch (index) {
                                case 0:
                                    numberTopOne.style.color = "yellow"; // Top 1 màu vàng
                                    break;
                                case 1:
                                    numberTopOne.style.color = "blue"; // Top 2 màu xanh dương
                                    break;
                                case 2:
                                    numberTopOne.style.color = "#c08000"; // Top 3 màu đồng
                                    break;
                                default:
                                    numberTopOne.style.color = "white"; // Các vị trí còn lại màu trắng
                            }
                        });
                    });
                </script>
            </div>
        </div>
    }
</section>