@model MusicWeb.Models.SongViewModel

@{
    ViewBag.Title = "DeleteSong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XOÁ BÀI HÁT</h2>
<h3>Bạn có chắc chắn muốn xoá bài hát này?</h3>
<div>

    @using (Html.BeginForm("DeleteSong", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(Model => Model.song.ID_Song)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.song.ID_Song)
                @Html.HiddenFor(model => model.song.ID_Song)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.Name_Song)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.song.Name_Song)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.ID_Catergory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.song.ID_Catergory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.Release_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.song.Release_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.Audio_Song)
            </dt>

            <dd>
                <audio controls>
                    <source src="@Url.Content(Model.song.Audio_Song)">
                </audio>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.ImageSong)
            </dt>

            <dd>
                <img src="@Url.Content(Model.song.ImageSong)" height="200" width="200" id="previewImage" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.View_Song)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.song.View_Song)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.song.ID_Singer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.song.ID_Singer)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
