@model MusicWeb.Models.AdminUserModel

@{
    ViewBag.Title = "DeleteAdminUser";
}

<h2>XOÁ TÀI KHOẢN</h2>

<h3>Bạn có chắc chắn muốn xoá tài khoản này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
