@model IEnumerable<MusicWeb.Models.Song>

@{
    ViewBag.Title = "Song";
}

<h2>QUẢN LÝ BÀI HÁT</h2>

<p>
    @Html.ActionLink("Create Song", "AddSong", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Song)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Song)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Catergory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Audio_Song)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.View_Song)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_singer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Song)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Song)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Catergory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release_Date)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Audio_Song)*@
            <audio controls>
                <source src="@Url.Content(item.Audio_Song)">
            </audio>
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImageSong)*@
            <img src="@Url.Content(item.ImageSong)" alt="Avatar" style="width:150px;height:150px;">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.View_Song)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_singer)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSong", new {  id=item.ID_Song},new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "DeleteSong", new { id=item.ID_Song }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
